*{margin:0px; padding:0px;}



article{
    display: flex;
    flex-direction: column;
}


.question{
    display: none;
    text-align:center;
    font-weight:600;
    font-size:18px;
}

.result{
    display:none;
}

#img{
    margin: 0px auto;
    width:300px;
    height:300px;
}

.btn_basic{
    background-color:#a6d4b2;
    padding: 10px;
    border-radius: 5px;
    background-color:#a6d4b2;
    color: #fff;
    font-weight:400;
}

article>h1{
    font-size: 22px;
    font-weight: 500;
}

.button_top{
    margin-top:50px;
    background-color: #f0f0f0;
    height: 80px;
    border:none;
    box-sizing: border-box;
    border-radius: 5px;

}

.button_bot{
    background-color: #f0f0f0;
    height: 80px;
    border:none;
    box-sizing: border-box;
    border-radius: 5px;
}

.button_top:hover,
.button_bot:hover{
    background-color: #f0f0f0;
}
